/* CSS Reset  */
* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* CSS Variables  */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

/* Navigation Bar: Logo and Image  */
#logo {
  margin: 10px 34px;
}

#logo img {
  height: 59px;
  margin: 0px 6px;
  border-radius: 35px;
}

/* Navigation Bar: List Styling */
#navbar ul {
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}


#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home Section  */
#home {
  display: flex;
  flex-direction: column;
  height: 554px;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url('../bg1.jpg') no-repeat center center/cover;
  position: absolute;
  height: 642px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}

#home h1 {
  color: #0a0c09;
  text-align: center;
}

#home p {
  color: #0b0c0a;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
}


/* Services Section  */
/* .services-container::before {
  background: url(../4.jpg) no-repeat center center/cover;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
} */

.services-container {
  position: relative;
}

#services {
  position: relative;
  margin: 23px;
  display: flex;
}

#services .box {
  border: 2px solid brown;
  padding: 23px;
  margin: 3px 6px;
  border-radius: 28px;
  background-color: rgb(244, 239, 239);
  z-index: -1;
  /* font-family: 'Bree Serif', serif; */
}

#services .box img {
  display: block;
  margin: auto;
  height: 160px;
  border-radius: 33px;
}

#services .box p {
  font-family: 'Bree Serif', serif;
}

/* #services{} */


/* Clients Section  */
#client-section {
  position: relative;

}

#client-section::before {
  background: url('../6.jpg') no-repeat center center/cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;

}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients .client-item {
  padding: 34px;
}

#clients img {
  height: 143px;
  width: 154px;
  border-radius: 33px;
}


/* Contact Section  */
#contact {
  position: relative;
  font-family: 'Bree Serif', serif;
}

#contact::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background: url(../contact1.jpg) no-repeat center center/cover;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 1.3rem;
  border-radius: 13px;
  font-size: 1.1rem;
}

footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
}



/* Utility Classes  */
.h-primary {
  font-size: 3.8rem;
  padding: 12px;
  font-family: 'Bree Serif', serif;
}

.h-secondary {
  font-size: 2.3rem;
  padding: 12px;
  font-family: 'Bree Serif', serif;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.center {
  text-align: center;
}